root = true

# Formatting behaviors shared with Prettier.
# See: https://prettier.io/docs/en/configuration.html#editorconfig

# Default
[*]
; Non-configurable Prettier behaviors
charset = utf-8
insert_final_newline = true

; Configurable Prettier behaviors
; Don't modify (default for shell scripts, etc, without extensions)
; https://prettier.io/docs/en/configuration.html#editorconfig
end_of_line = lf
max_line_length = 80
indent_style = tab
indent_size = 8

# Other ensuring the default rules are applied to all files, don't let Prettier
# format code by matching the following pattern. Code styles are handled
# separately using the @stylistic/eslint-plugin-{js,jsx} plugins for eslint.
[*.{js,mjs,cjs,jsx,ts,tsx}]
indent_style = space
indent_size = 4

# Astro
[*.astro]
indent_style = space
indent_size = 4

[*.css]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2
