# https://prettier.io/docs/en/ignore.html#ignoring-files-prettierignore

# Ignore what's in .gitignore (default when .gitignore is in the same directory)

# Ignore dot directories
.*/

# Ignore specific files
.editorconfig
package-lock.json

# Ignore code: use @stylistic/eslint-plugin-{js,jsx,ts,tsx} plugins for eslint
# and eslint.config.mjs instead to apply code lint and style rules.
**/*.js
**/*.jsx
**/*.cjs
**/*.mjs
**/*.ts
**/*.tsx
