# https://prettier.io/docs/en/ignore.html#ignoring-files-prettierignore

# Ignore what's in .gitignore (default when .gitignore is in the same directory)

# Ignore dot directories
.*/

# Ignore specific files
.editorconfig
package-lock.json

# Ignore code (using @stylistic/eslint-plugin instead)
**/*.js
**/*.jsx
**/*.cjs
**/*.mjs
**/*.ts
**/*.tsx
