# https://prettier.io/docs/en/ignore.html#ignoring-files-prettierignore
# (ignore includes what's in .gitignore)

.*/
build/
coverage/
dist/
scratch/

.editorconfig
package-lock.json

# Using @stylistic/eslint-plugin instead
**/*.js
**/*.jsx
**/*.cjs
**/*.mjs
**/*.ts
**/*.tsx
