body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h1,
form,
p {
	margin: 10px;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 200px;
	gap: 0.5rem;
	margin-top: 30px;
}

button {
	margin-top: 2rem;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111111;
}
