---
import Layout from "../layouts/Layout.astro";

let user;

// const sessionCookie = Astro.cookies.get("session")?.value;
// if (sessionCookie) {
//   const decodedCookie = await auth.verifySessionCookie(sessionCookie);
//   user = await auth.getUser(decodedCookie?.uid);
// }

const name = user ? user.displayName : "Stranger";
const status = user
  ? ""
  : "No session cookie. If you see one in the browser console, then this is a bug!";
---

<Layout title="Home">
  <h1>Hello {name}!</h1>
  <p>{status}</p>
</Layout>
